body{
  background-color: black;
}

#wrapper{
  width: 1000px;
  margin:0 auto;
  background-color: white;

}

#header{
  height: 150px;
  text-align: center;
}

.title{
  font-size: 30px;
  font-family: cursive;
  color: #871818;
}

.logo{
  float: left;
  position: absolute;
}

#nav{
  height: 99px;
  width: auto;
  background-color: white;
  color: black;
  font-family: monaco, monospace;
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
}


#box{
  height: 2000px;
  width: 1000px;
  background-color: white;
}

#leftbody{
  float:left;
  height: 2000px;
  width: 400px;
  background-color: white;
}

.BRorigin{
  color: black;
  text-align: center;
  font-size: 20px;
  background-color: white;
}

.coords{
  color: white;
}
#rightbody{
 background-color: white;
}

.rosepic{
  float: right;
}

#bottombody{

}

.backstory{
text-align: center;
font-size: 18px;
}
