body{
  background-color: #7D0000;
}

#wrapper{
  width: 1000px;
  height: 2000px;
  margin:0 auto;
  background-color: black;

}

#header{
  height: 150px;
  text-align: center;
}

.title{
  font-size: 30px;
  font-family: cursive;
  color: #871818;
}

.logo{
  float: left;
  position: absolute;
}

#nav{
  height: 99px;
  width: auto;
  background-color: black;
  color: black;
  font-family: monaco, monospace;
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
}

#box{
  height: 2190px;
  width: 1000px;
  background-color: black;
}

.welcome{
  text-align: center;
  font-size: 45px;
  font-family: fantasy;
}

.members{
  font-size: 40px;
  text-align: center;
  font-family: cursive;
  color: white;
}


.bio{
  color: white;
}

.more{
  font-size: 20px;
}


/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_fade */
.dead {
  position: relative;
  width: 50%;
}

.pic {
  display: block;
  width: 200px;
  height: 200px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  width: 200px;
  opacity: 0;
  transition: .4s ease;
  background-color: black;
}

.dead:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
