body{
  background-color: #2F0505;
}

#wrapper{
  width: 1000px;
  height: 2000px;
  margin:0 auto;
  background-color: black;

}

#header{
  height: 150px;
  text-align: center;
}

.title{
  font-size: 30px;
  font-family: cursive;
  color: #450505;
}

.logo{
  float: left;
  position: absolute;
}

#nav{
  height: 99px;
  width: auto;
  background-color: black;
  color: black;
  font-family: monaco, monospace;
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
}

#box{
  height: 4250px;
  width: 1000px;
  background-color: black;
}

.resize{
  text-align: center;
  color: white;
}
