body {
  background-color: blue
}

p {
  color: red
}

img {
 max-width: 30%;
 max-height: 30%;
}

.box{
  margin: 20px 10% 20px 10%;
  border: black 4px solid;
}

.textbox{
  margin:20px 10% 20px 10%;
  border: green 3px dashed;
  padding: 10px 20% 10px 20%;
}

.imgbox{
  margin: 5px 3% 5px 3%;
  border: yellow 2px dashed;
  padding: 3px 5% 3px 5%;
}
