body{
  background-color: yellow;
  color: white;
}

#wrapper{
  width: 800px;
  margin:0 auto;
  background-color: red;
}

#header{
  height: 50px;
  text-align: center;
}

#main{
  height: 300px;
  text-align: left;
  background-color: green;
}

#footer{
  height: 50px;
  text-align: left;
  background-color: blue;
}
